* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebebeb;
   
}
.nav{
    background-color:#1E1E1E;
    width: 100%;
}
nav{
   
    padding: 20px 0;
    margin: 0 0 20px;
    width: 40%;
}
ul{
    display: flex;
    justify-content: space-around;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.main{
    width:50%;
    display: flex;
    height:400px;
    justify-content:center;
    margin: auto;
}
.main div{
    text-align: center;
    width:99%;
    margin: 1%;
    
}
img{
    width:50%;
    border-style:solid ;
    height: 300px;


}
.mu{
    display: inline-block;
}
 .serv{
    background-color: gray;
   
    margin: 1%;
    color:white;
    font-size: 20px;
    margin-right: 1%;
}
.fab{
    font-size: 30px;
}
.fas{
    font-size: 30px;
}
footer{
    background-color:#1E1E1E ;
    color: white;
   
}