<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b1dec5896b.js" crossorigin="anonymous"></script>
    

    <title>Mohammed Zubair</title>
</head>
<body>
<%- include('./include/navbar.ejs') %>  <!-- This code for import navbar from andor file -->
<section id="home">
<header>
    
    <div>
        <img src="LOGO.png" class="logo" alt="">
    </div>
    <div>
        <h1 class="heading">Mohammed Zubair</h1>
        <p class="p">with us your business is easer
           <p><button class="btn">Subscripe</button>
            <button class="btn">Blog</button>
        </p> 
        </p>
    </div>
    
</header>
</section>
<section id="home">
    <article>
<div class="main">
    
    <div >
        <img class="img" src="MYIMAGE.jpg" alt="">
    </div>

        <div>
        <h1 class="h1"> who i am ?</h1>
        <p class="par">
            my name is mohammed zubair i am web developer and system analysis and i am the owner of the zubairsoft company
            
        </p>
    </div>
    

</div>
    </article>
</section>
<section id="about">
    <article>
<div class="main">
    
    <div >
        <h1 class="h1">skils</h1>
        <p>
            
              <div class="skills-bar">
                  <div class="bar">
                    <div class="info">
                        <span>html</span>
                    </div>
                    <div class="process-bar"><span class="html"></span></div>
                  </div>
                  <div class="bar">
                    <div class="info">
                        <span>css</span>
                    </div>
                    <div class="process-bar"><span class="css"></span></div>
                  </div>
                  <div class="bar">
                    <div class="info">
                        <span>js</span>
                    </div>
                    <div class="process-bar"><span class="js"></span></div>
                  </div>
                  <div class="bar">
                    <div class="info">
                        <span>sql</span>
                    </div>
                    <div class="process-bar"><span class="sql"></span></div>
                  </div>
                  <div class="bar">
                    <div class="info">
                        <span>php</span>
                    </div>
                    <div class="process-bar"><span class="php"></span></div>
                  </div>
              </div>

                
        </p>

        
    </div>
    <div >
        <h1 class="h1">experinas</h1>
        <p>
            
            <div class="skills-bar">
                <div class="bar">
                  <div class="info">
                      <span>working at hadrmout univirsty-2021</span>
                  </div>
                  <div class="ex-bar"><span></span></div>
                </div>
                <div class="bar">
                  <div class="info">
                      <span>analysis database staff member-2021</span>
                  </div>
                  <div class="ex-bar"><span></span></div>
                </div>
                <div class="bar">
                  <div class="info">
                      <span>make desktop programms-2021</span>
                  </div>
                  <div class="ex-bar"><span></span></div>
                </div>
                <div class="bar">
                  <div class="info">
                      <span>desgn by using photoshop-2018</span>
                  </div>
                  <div class="ex-bar"><span class="frist"></span></div>
                </div>
                <div class="bar">
                  <div class="info">
                      <span >desgn koora website-2018</span>
                  </div>
                  <div class="ex-bar"><span class="frist"></span></div>
                </div>
            </div>
            

                
          
        </p>
    

</div>
    </article>
</section>
<section id="service">
    <article>
        <h1 class="h1">Service</h1>
<div class="main">
    
    <div class="contain">
        <img src="compurter.jpg" alt="">
        <p class="parg">
            web design
        </p>

    </div>
    <div class="contain">
        <img src="compurter.jpg" alt="">
        <p class="parg">
            grafic desgin
        </p>

    </div>
    <div class="contain">
        <img src="compurter.jpg" alt="">
        <p class="parg">
            system analysis
        </p>

    </div>
    
 
    </article>
<section id="service">
    <article>
        <h1 class="h1">pervious works</h1>
<div class="main">
    
    <div class="contain">
        <img src="حضرموت1.jpg" alt="">
        <p class="parg">
            work on hadrmout website
        </p>

    </div>
    <div class="contain">
        <img src="انجاز.jpg" alt="">
        <p class="parg">
            design anja id
        </p>

    </div>
    <div class="contain">
        <img src="smart.jpg" alt="">
        <p class="parg">
            desgin smart school app
        </p>

    </div>
    
 
    </article>
</section>

</section>

<section id="contact">
  
<div class="main">
    
    
   <div >
    <h1 class="h1">contact</h1>
    <div style="    border: 3px solid;
    box-shadow: 0px 2px 5px #171717;
    padding: 10px 20px;">
    <form name="myForm"  onsubmit="return validateForm()" method="post">
    <p>
        <input type="text" name="fname" placeholder="name">
    </p>
    <p>
        <input type="email" name="email" id="email" placeholder="email">
    </p>
    <p>
        <textarea name="" id="" placeholder="sent notifaction"></textarea>
    </p>
    <p>
        <button class="con-btn" value="Submit">send</button>
    </p>
    </form>
        <p class="awsom">
            
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fas fa-phone-square"></i>
        </p>
        
        </div>
    </div>
        
    
  
</section>
<footer>
    <div class="copy">
        copyright<i class="far fa-copyright"></i>mohammedzubair
    </div>
    
</footer>
</body>
<script src="app.js"></script>
</html>