<div class="header">  
   
    <div class="main-log">
        <img src="LOGO.png" alt="">
    </div>
    
<nav>
   <ul>
       
       <li><a href="#home">home</a></li>
       <li><a href="#about">about</a></li>
       <li><a href="#service">service</a></li>
       <li><a href="#contact">contact</a></li>
       
   </ul>
</nav>
<div class="dark">
   <i class="fas fa-moon  log"  onclick="dark()"></i> 
</div>
</div>